
R_Programming/W2/specdata/001.csv
R_Programming/W2/specdata/002.csv
R_Programming/W2/specdata/003.csv
R_Programming/W2/specdata/004.csv
R_Programming/W2/specdata/005.csv
R_Programming/W2/specdata/006.csv
R_Programming/W2/specdata/007.csv
R_Programming/W2/specdata/008.csv
R_Programming/W2/specdata/009.csv
R_Programming/W2/specdata/010.csv
R_Programming/W2/specdata/011.csv
R_Programming/W2/specdata/012.csv
R_Programming/W2/specdata/013.csv
R_Programming/W2/specdata/014.csv
R_Programming/W2/specdata/015.csv
R_Programming/W2/specdata/016.csv
R_Programming/W2/specdata/017.csv
R_Programming/W2/specdata/018.csv
R_Programming/W2/specdata/019.csv
R_Programming/W2/specdata/020.csv
R_Programming/W2/specdata/021.csv
R_Programming/W2/specdata/022.csv
R_Programming/W2/specdata/023.csv
R_Programming/W2/specdata/024.csv
R_Programming/W2/specdata/025.csv
R_Programming/W2/specdata/026.csv
R_Programming/W2/specdata/027.csv
R_Programming/W2/specdata/028.csv
R_Programming/W2/specdata/029.csv
R_Programming/W2/specdata/030.csv
R_Programming/W2/specdata/031.csv
R_Programming/W2/specdata/032.csv
R_Programming/W2/specdata/033.csv
R_Programming/W2/specdata/034.csv
R_Programming/W2/specdata/035.csv
R_Programming/W2/specdata/036.csv
R_Programming/W2/specdata/037.csv
R_Programming/W2/specdata/038.csv
R_Programming/W2/specdata/039.csv
R_Programming/W2/specdata/040.csv
R_Programming/W2/specdata/041.csv
R_Programming/W2/specdata/042.csv
R_Programming/W2/specdata/043.csv
R_Programming/W2/specdata/044.csv
R_Programming/W2/specdata/045.csv
R_Programming/W2/specdata/046.csv
R_Programming/W2/specdata/047.csv
R_Programming/W2/specdata/048.csv
R_Programming/W2/specdata/049.csv
R_Programming/W2/specdata/050.csv
R_Programming/W2/specdata/051.csv
R_Programming/W2/specdata/052.csv
R_Programming/W2/specdata/053.csv
R_Programming/W2/specdata/054.csv
R_Programming/W2/specdata/055.csv
R_Programming/W2/specdata/056.csv
R_Programming/W2/specdata/057.csv
R_Programming/W2/specdata/058.csv
R_Programming/W2/specdata/059.csv
R_Programming/W2/specdata/060.csv
R_Programming/W2/specdata/061.csv
R_Programming/W2/specdata/062.csv
R_Programming/W2/specdata/063.csv
R_Programming/W2/specdata/064.csv
R_Programming/W2/specdata/065.csv
R_Programming/W2/specdata/066.csv
R_Programming/W2/specdata/067.csv
R_Programming/W2/specdata/068.csv
R_Programming/W2/specdata/069.csv
R_Programming/W2/specdata/070.csv
R_Programming/W2/specdata/071.csv
R_Programming/W2/specdata/072.csv
R_Programming/W2/specdata/073.csv
R_Programming/W2/specdata/074.csv
R_Programming/W2/specdata/075.csv
R_Programming/W2/specdata/076.csv
R_Programming/W2/specdata/077.csv
R_Programming/W2/specdata/078.csv
R_Programming/W2/specdata/079.csv
R_Programming/W2/specdata/080.csv
R_Programming/W2/specdata/081.csv
R_Programming/W2/specdata/082.csv
R_Programming/W2/specdata/083.csv
R_Programming/W2/specdata/084.csv
R_Programming/W2/specdata/085.csv
R_Programming/W2/specdata/086.csv
R_Programming/W2/specdata/087.csv
R_Programming/W2/specdata/088.csv
R_Programming/W2/specdata/089.csv
R_Programming/W2/specdata/090.csv
R_Programming/W2/specdata/091.csv
R_Programming/W2/specdata/092.csv
R_Programming/W2/specdata/093.csv
R_Programming/W2/specdata/094.csv
R_Programming/W2/specdata/095.csv
R_Programming/W2/specdata/096.csv
R_Programming/W2/specdata/097.csv
R_Programming/W2/specdata/098.csv
R_Programming/W2/specdata/099.csv
R_Programming/W2/specdata/100.csv
R_Programming/W2/specdata/101.csv
R_Programming/W2/specdata/102.csv
R_Programming/W2/specdata/103.csv
R_Programming/W2/specdata/104.csv
R_Programming/W2/specdata/105.csv
R_Programming/W2/specdata/106.csv
R_Programming/W2/specdata/107.csv
R_Programming/W2/specdata/108.csv
R_Programming/W2/specdata/109.csv
R_Programming/W2/specdata/110.csv
R_Programming/W2/specdata/111.csv
R_Programming/W2/specdata/112.csv
R_Programming/W2/specdata/113.csv
R_Programming/W2/specdata/114.csv
R_Programming/W2/specdata/115.csv
R_Programming/W2/specdata/116.csv
R_Programming/W2/specdata/117.csv
R_Programming/W2/specdata/118.csv
R_Programming/W2/specdata/119.csv
R_Programming/W2/specdata/120.csv
R_Programming/W2/specdata/121.csv
R_Programming/W2/specdata/122.csv
R_Programming/W2/specdata/123.csv
R_Programming/W2/specdata/124.csv
R_Programming/W2/specdata/125.csv
R_Programming/W2/specdata/126.csv
R_Programming/W2/specdata/127.csv
R_Programming/W2/specdata/128.csv
R_Programming/W2/specdata/129.csv
R_Programming/W2/specdata/130.csv
R_Programming/W2/specdata/131.csv
R_Programming/W2/specdata/132.csv
R_Programming/W2/specdata/133.csv
R_Programming/W2/specdata/134.csv
R_Programming/W2/specdata/135.csv
R_Programming/W2/specdata/136.csv
R_Programming/W2/specdata/137.csv
R_Programming/W2/specdata/138.csv
R_Programming/W2/specdata/139.csv
R_Programming/W2/specdata/140.csv
R_Programming/W2/specdata/141.csv
R_Programming/W2/specdata/142.csv
R_Programming/W2/specdata/143.csv
R_Programming/W2/specdata/144.csv
R_Programming/W2/specdata/145.csv
R_Programming/W2/specdata/146.csv
R_Programming/W2/specdata/147.csv
R_Programming/W2/specdata/148.csv
R_Programming/W2/specdata/149.csv
R_Programming/W2/specdata/150.csv
R_Programming/W2/specdata/151.csv
R_Programming/W2/specdata/152.csv
R_Programming/W2/specdata/153.csv
R_Programming/W2/specdata/154.csv
R_Programming/W2/specdata/155.csv
R_Programming/W2/specdata/156.csv
R_Programming/W2/specdata/157.csv
R_Programming/W2/specdata/158.csv
R_Programming/W2/specdata/159.csv
R_Programming/W2/specdata/160.csv
R_Programming/W2/specdata/161.csv
R_Programming/W2/specdata/162.csv
R_Programming/W2/specdata/163.csv
R_Programming/W2/specdata/164.csv
R_Programming/W2/specdata/165.csv
R_Programming/W2/specdata/166.csv
R_Programming/W2/specdata/167.csv
R_Programming/W2/specdata/168.csv
R_Programming/W2/specdata/169.csv
R_Programming/W2/specdata/170.csv
R_Programming/W2/specdata/171.csv
R_Programming/W2/specdata/172.csv
R_Programming/W2/specdata/173.csv
R_Programming/W2/specdata/174.csv
R_Programming/W2/specdata/175.csv
R_Programming/W2/specdata/176.csv
R_Programming/W2/specdata/177.csv
R_Programming/W2/specdata/178.csv
R_Programming/W2/specdata/179.csv
R_Programming/W2/specdata/180.csv
R_Programming/W2/specdata/181.csv
R_Programming/W2/specdata/182.csv
R_Programming/W2/specdata/183.csv
R_Programming/W2/specdata/184.csv
R_Programming/W2/specdata/185.csv
R_Programming/W2/specdata/186.csv
R_Programming/W2/specdata/187.csv
R_Programming/W2/specdata/188.csv
R_Programming/W2/specdata/189.csv
R_Programming/W2/specdata/190.csv
R_Programming/W2/specdata/191.csv
R_Programming/W2/specdata/192.csv
R_Programming/W2/specdata/193.csv
R_Programming/W2/specdata/194.csv
R_Programming/W2/specdata/195.csv
R_Programming/W2/specdata/196.csv
R_Programming/W2/specdata/197.csv
R_Programming/W2/specdata/198.csv
R_Programming/W2/specdata/199.csv
R_Programming/W2/specdata/200.csv
R_Programming/W2/specdata/201.csv
R_Programming/W2/specdata/202.csv
R_Programming/W2/specdata/203.csv
R_Programming/W2/specdata/204.csv
R_Programming/W2/specdata/205.csv
R_Programming/W2/specdata/206.csv
R_Programming/W2/specdata/207.csv
R_Programming/W2/specdata/208.csv
R_Programming/W2/specdata/209.csv
R_Programming/W2/specdata/210.csv
R_Programming/W2/specdata/211.csv
R_Programming/W2/specdata/212.csv
R_Programming/W2/specdata/213.csv
R_Programming/W2/specdata/214.csv
R_Programming/W2/specdata/215.csv
R_Programming/W2/specdata/216.csv
R_Programming/W2/specdata/217.csv
R_Programming/W2/specdata/218.csv
R_Programming/W2/specdata/219.csv
R_Programming/W2/specdata/220.csv
R_Programming/W2/specdata/221.csv
R_Programming/W2/specdata/222.csv
R_Programming/W2/specdata/223.csv
R_Programming/W2/specdata/224.csv
R_Programming/W2/specdata/225.csv
R_Programming/W2/specdata/226.csv
R_Programming/W2/specdata/227.csv
R_Programming/W2/specdata/228.csv
R_Programming/W2/specdata/229.csv
R_Programming/W2/specdata/230.csv
R_Programming/W2/specdata/231.csv
R_Programming/W2/specdata/232.csv
R_Programming/W2/specdata/233.csv
R_Programming/W2/specdata/234.csv
R_Programming/W2/specdata/235.csv
R_Programming/W2/specdata/236.csv
R_Programming/W2/specdata/237.csv
R_Programming/W2/specdata/238.csv
R_Programming/W2/specdata/239.csv
R_Programming/W2/specdata/240.csv
R_Programming/W2/specdata/241.csv
R_Programming/W2/specdata/242.csv
R_Programming/W2/specdata/243.csv
R_Programming/W2/specdata/244.csv
R_Programming/W2/specdata/245.csv
R_Programming/W2/specdata/246.csv
R_Programming/W2/specdata/247.csv
R_Programming/W2/specdata/248.csv
R_Programming/W2/specdata/249.csv
R_Programming/W2/specdata/250.csv
R_Programming/W2/specdata/251.csv
R_Programming/W2/specdata/252.csv
R_Programming/W2/specdata/253.csv
R_Programming/W2/specdata/254.csv
R_Programming/W2/specdata/255.csv
R_Programming/W2/specdata/256.csv
R_Programming/W2/specdata/257.csv
R_Programming/W2/specdata/258.csv
R_Programming/W2/specdata/259.csv
R_Programming/W2/specdata/260.csv
R_Programming/W2/specdata/261.csv
R_Programming/W2/specdata/262.csv
R_Programming/W2/specdata/263.csv
R_Programming/W2/specdata/264.csv
R_Programming/W2/specdata/265.csv
R_Programming/W2/specdata/266.csv
R_Programming/W2/specdata/267.csv
R_Programming/W2/specdata/268.csv
R_Programming/W2/specdata/269.csv
R_Programming/W2/specdata/270.csv
R_Programming/W2/specdata/271.csv
R_Programming/W2/specdata/272.csv
R_Programming/W2/specdata/273.csv
R_Programming/W2/specdata/274.csv
R_Programming/W2/specdata/275.csv
R_Programming/W2/specdata/276.csv
R_Programming/W2/specdata/277.csv
R_Programming/W2/specdata/278.csv
R_Programming/W2/specdata/279.csv
R_Programming/W2/specdata/280.csv
R_Programming/W2/specdata/281.csv
R_Programming/W2/specdata/282.csv
R_Programming/W2/specdata/283.csv
R_Programming/W2/specdata/284.csv
R_Programming/W2/specdata/285.csv
R_Programming/W2/specdata/286.csv
R_Programming/W2/specdata/287.csv
R_Programming/W2/specdata/288.csv
R_Programming/W2/specdata/289.csv
R_Programming/W2/specdata/290.csv
R_Programming/W2/specdata/291.csv
R_Programming/W2/specdata/292.csv
R_Programming/W2/specdata/293.csv
R_Programming/W2/specdata/294.csv
R_Programming/W2/specdata/295.csv
R_Programming/W2/specdata/296.csv
R_Programming/W2/specdata/297.csv
R_Programming/W2/specdata/298.csv
R_Programming/W2/specdata/299.csv
R_Programming/W2/specdata/300.csv
R_Programming/W2/specdata/301.csv
R_Programming/W2/specdata/302.csv
R_Programming/W2/specdata/303.csv
R_Programming/W2/specdata/304.csv
R_Programming/W2/specdata/305.csv
R_Programming/W2/specdata/306.csv
R_Programming/W2/specdata/307.csv
R_Programming/W2/specdata/308.csv
R_Programming/W2/specdata/309.csv
R_Programming/W2/specdata/310.csv
R_Programming/W2/specdata/311.csv
R_Programming/W2/specdata/312.csv
R_Programming/W2/specdata/313.csv
R_Programming/W2/specdata/314.csv
R_Programming/W2/specdata/315.csv
R_Programming/W2/specdata/316.csv
R_Programming/W2/specdata/317.csv
R_Programming/W2/specdata/318.csv
R_Programming/W2/specdata/319.csv
R_Programming/W2/specdata/320.csv
R_Programming/W2/specdata/321.csv
R_Programming/W2/specdata/322.csv
R_Programming/W2/specdata/323.csv
R_Programming/W2/specdata/324.csv
R_Programming/W2/specdata/325.csv
R_Programming/W2/specdata/326.csv
R_Programming/W2/specdata/327.csv
R_Programming/W2/specdata/328.csv
R_Programming/W2/specdata/329.csv
R_Programming/W2/specdata/330.csv
R_Programming/W2/specdata/331.csv
R_Programming/W2/specdata/332.csv
R_Programming/W4/hospital-data.csv
R_Programming/W3/ProgrammingAssignment2-master/.DS_Store
.DS_Store
R_Programming/.DS_Store
R_Programming/HW/.DS_Store
R_Programming/W3/.DS_Store
R_Programming/W4/Hospital_Revised_Flatfiles.pdf
.Rproj.user
